SERVICE_NAME=agent_service
LOG_TO_FILE=false
LOG_DIR=/app/logs
LOG_LEVEL=DEBUG

# Выбор активной модели для сервиса
# Возможные значения local_qwen_agent, api_qwen_agent 
ACTIVE_LLM_PROFILE=api_glm_flash_agent

# API-ключи для LLM
DSLAB_API_KEY=

VERIFICATION_MCP_SERVER_URL=http://localhost:3010
