SERVICE_NAME=verification_mcp_server
LOG_TO_FILE=false
LOG_DIR=/app/logs
LOG_LEVEL=DEBUG

COUNTERAGENTS_DB_PATH=/opt/data/contractors_audit.snapshot.json

# Переключить на 1 для отправки агенту полной инфы по контрагентам
COUNTERAGENTS_FULL_PAYLOAD=1
DSLAB_API_KEY=sk-rt_2ad29ae39f1fe8729d05e65871c1302d10301702f3c8eb35d57b13a050ca770e4e15f0
